/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo img {
    height: 50px;
}

header h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
}

header nav {
    flex-grow: 2;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease;
}

header nav ul li a:hover {
    color: #ddd;
}

main {
    padding: 1rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

/* Album Grid Styles */
.albums-page .albums {
    max-width: 1200px;
    margin: 0 auto;
}

.albums-page .album-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.albums-page .album {
    flex: 1 1 calc(25% - 40px); /* Adjusts the width of each album to fit 4 in a row */
    box-sizing: border-box;
    margin-bottom: 20px;
}

.albums-page .album img {
    width: 100%;
    height: auto;
    max-width: 300px; /* Ensures the image does not exceed 300px in width */
    display: block;
    border-radius: 8px; /* Optional: Adds rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Adds shadow */
}

/* Responsive Design */
@media (max-width: 768px) {
    .albums-page .album {
        flex: 1 1 calc(50% - 20px); /* Adjusts the width of each album to fit 2 in a row */
    }
}

@media (max-width: 480px) {
    .albums-page .album {
        flex: 1 1 100%; /* Adjusts the width of each album to fit 1 in a row */
    }
}

/* Links Page Styles */
.link-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link-list li {
    margin-bottom: 20px;
    max-width: 300px; /* Adjust the maximum width of each banner */
    margin: 0 auto; /* Center-align the banners */
}

.link-list img {
    width: 100%;
    display: block;
    border-radius: 8px; /* Optional: Adds rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Adds shadow */
}

@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
        align-items: center;
    }

    header nav ul {
        margin-top: 10px;
    }

    header nav ul li {
        margin: 0 10px;
    }
}
